body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 150px;
}

.flex-container{
    display: flex;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

.half-width{
    width: 50%;
    padding-left: 4%;
}

h1{
    font-size: 50px;
}

p{
    color:#696972;
}

.orange-color{
    color: orange;
}

.half-width img{
    width: 85%;
}

.hire-link{
    text-decoration: none;
    background-image: linear-gradient(to right, #d1c4c4,salmon);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-part{
    padding-left: 100px;
}

.dream-big img{
    width: 92%;
}

h2{
    font-size: 40px;
}

.experince-item{
    width: 40%;
    padding-left: 7%;
    box-shadow: 10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 70px;
}

.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

#stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}

#footer{
    text-align: center;
    margin-bottom: 0;
}