body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

.half-width{
    width: 50%;
    padding-left: 4%;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.half-width img{
    width: 80%;
}

.hire-link{
    text-decoration: none;
    background-image: linear-gradient(#e0e02dfa,orangered);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big .half-width{
    padding-right: 20px;
}


