body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 4%;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.half-width img{
    width: 80%;
}

.hire-link{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}